@model webFinal.Models.Ventum

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de Ventas</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DniNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DniNavigation.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdempleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdempleadoNavigation.Idempleado)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-propio text-white" asp-action="Index">Regresar</a> |
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@Model?.Idventa">Editar</a>
</div>
