@model IEnumerable<webFinal.Models.Ventum>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>

<p>
    <a class="btn btn-propio text-white my-3" asp-action="Create">Generar Venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DniNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdempleadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniNavigation.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdempleadoNavigation.NombresE)
            </td>
            <td>
                    <a class="btn btn-success" -action="Edit" asp-route-id="@item.Idventa">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Idventa">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Idventa">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
